{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essentials Now NYC - Map</title>

    <!-- Leaflet CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'maps/css/style.css' %}">
</head>
<body>
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"></script>

    <!-- JS -->
    <script src="{% static 'maps/js/map.js' %}"></script>
</body>
</html>